{% capture icon_url %}{{ site.baseurl }}/assets/img/favicons{% endcapture %}
{% assign v = "?v=2" %}

<link rel="shortcut icon" href="{{ icon_url }}/favicon.ico{{ v }}" type="image/x-icon">
<link rel="icon" href="{{ icon_url }}/favicon.ico{{ v }}" type="image/x-icon">

<link rel="apple-touch-icon" href="{{ icon_url }}/apple-icon.png{{ v }}">
<link rel="apple-touch-icon" href="{{ icon_url }}/apple-icon-precomposed.png{{ v }}">
<link rel="apple-touch-icon" sizes="57x57" href="{{ icon_url }}/apple-icon-57x57.png{{ v }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ icon_url }}/apple-icon-60x60.png{{ v }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ icon_url }}/apple-icon-72x72.png{{ v }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ icon_url }}/apple-icon-76x76.png{{ v }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ icon_url }}/apple-icon-114x114.png{{ v }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ icon_url }}/apple-icon-120x120.png{{ v }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ icon_url }}/apple-icon-144x144.png{{ v }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ icon_url }}/apple-icon-152x152.png{{ v }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ icon_url }}/apple-icon-180x180.png{{ v }}">

<link rel="icon" type="image/png" sizes="192x192" href="{{ icon_url }}/android-icon-192x192.png{{ v }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ icon_url }}/favicon-32x32.png{{ v }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ icon_url }}/favicon-96x96.png{{ v }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ icon_url }}/favicon-16x16.png{{ v }}">

<link rel="manifest" href="{{ icon_url }}/manifest.json">
<meta name="msapplication-TileColor" content="#12121a">
<meta name="msapplication-TileImage" content="{{ icon_url }}/ms-icon-144x144.png{{ v }}">
<meta name="theme-color" content="#12121a">
